body {
  margin:0;
  background-color:#191919;
  display:flex;
  align-items:center;
  justify-content:center;
  font-family:Helvetica,Sans-serif;
}

.main {
  width: 700px;
  height: 800px;
  border: solid 1px #555;
  background-color: #eed;
  border-radius:25px;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  margin-top: 50px;
}

svg {
  margin: 0 auto;
  height: 300px;
}

line {
  stroke: black;
  stroke-width: 4;
}

.text {
  font-family: Verdana, sans-serif;
  color: #191919;
  font-weight:bold;
}

.invisiblePart{
  stroke: #eed;
  stroke-width: 4;
}

.letter {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  float:left;
  margin-right: 5px;
  display:flex;
  align-items:center;
  justify-content:center;
  font: 700 1.125em/ 3 trebuchet ms, sans-serif;
  font-weight:bold;
}

.word {
  overflow: hidden
}

button {
  border-radius:5px;
  margin-right: 2px;
  margin-bottom: 2px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font: 700 1.125em/ 3 trebuchet ms, sans-serif;
  font-weight:bold;
  float: left;
  color: #191919;
  text-decoration:none;
}

.footer {
  text-align: center;
}

.letterButton {
  width:50px;
  height:50px;
}

.newGameButton {
  width:200px;
  height:50px;
  float:inherit;
  text-align: center;
  margin: 0 auto;
}

.keyboard {
  width:400px;
  height:220px;
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
}

.wordBox {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

.result-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.result {
  position: relative;
  width: 400px;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: 400px;
  background: #eed;
  border-radius: 4px;
  padding: 20px;
  border: 2px solid #191919;
  overflow: auto;
}